/* -->Top Menu <--*/
@import url("fonts.css"); 

.top_menu nav {
    width: 1440px;
    height: 75px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background:  #494949;
   }
   .top_menu nav span {
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
   }
.top_menu nav a svg {
    width: 40px;
    height: 40px;
}
.top_menu nav a {
    text-decoration: none;
    color: #F2F2F2;
}
/* -->Paragraf about Me<--- */
body {
    background: rgb(163, 158, 158); 
}
.paragraf {
    box-shadow: 15px 15px 15px  #494949;
    width: 1014px;
    height: 721px;
    left: 39px;
    top: 124px;
    background: #494949;
    border: 6px solid #494949;
    margin-top: 50px;
    margin-left: 40px;
}

h1 {
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 62px;
    color: #F2F2F2;
    margin-left: 25px;
}
h2 {
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 46px;
    color: #F2F2F2;
    margin-left: 46px;
}
p {
    font-family:Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    margin-left: 46px;
}
.paragraf .second div {
    display:inline-block;
    vertical-align: center;
}

