/* -->Top Menu <--*/
@import url("fonts.css"); 

.top_menu nav {
    width: 1440px;
    height: 75px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background:  #494949;
   }
   .top_menu nav span {
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
   }
.top_menu nav a svg {
    width: 40px;
    height: 40px;
}
.top_menu nav a {
    text-decoration: none;
    color: #F2F2F2;
}
/* -->Page<--*/
body {
    background: rgb(163, 158, 158);  
}
.navigation nav a {
    text-decoration: none;
    position: initial;
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color:white;
}
.navigation .linkedin {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 209px;
    background: #494949;
    transform: rotate(-43.63deg);
    animation-name: animation;
    animation-duration: 1s;
    }
/*.navigation .linkedin:hover {
    background:#8b8a8a;
}*/
.navigation .github {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 550px;
    background: #494949;
    transform: rotate(-43.63deg);
    animation-name: animation;
    animation-duration: 1.5s;
    }
/*.navigation .github:hover {
    background:#8b8a8a;
}*/
.navigation .email {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 890px;
    background: #494949;
    transform: rotate(-43.63deg);
    animation-name: animation;
    animation-duration: 2s;
    }
    @keyframes animation {
        0% {background-color:  rgb(163, 158, 158);}
        25% {background-color:  #929292;}
        50% {background-color:  #8b8a8a;}
        100% {background-color: #494949;}
    }
/*.navigation .email:hover {
    background:#8b8a8a;
}8/
