@import url("fonts.css"); 

/* -->First Page <--*/
body {
    background: rgb(163, 158, 158);
}
.navigation nav a {
    text-decoration: none;
    position: initial;
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color:white;
    
}
.navigation .aboutme {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 209px;
    background: #494949;
    transform: rotate(-30deg);
    animation-name: animation;
    animation-duration: 1s;
    }
.navigation .portfolio {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 550px;
    background: #494949;
    transform: rotate(-30deg);
    animation-name: animation;
    animation-duration: 1.5s;
    }
.navigation .contacts {
    box-shadow: 10px 10px 10px  #494949;
    position: absolute;
    width: 339.12px;
    height: 138.11px;
    margin-top: 320px;
    margin-left: 890px;
    background: #494949;
    transform: rotate(-30deg);
    animation-name: animation;
    animation-duration: 2s;
}

@keyframes animation {
    0% {background-color:  rgb(163, 158, 158);}
    25% {background-color:  #929292;}
    50% {background-color:  #8b8a8a;}
    100% {background-color: #494949;}
}
