/* -->Top Menu <--*/
@import url("fonts.css"); 
body {
    background: rgb(163, 158, 158);
}
.top_menu nav {
    width: 1440px;
    height: 75px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background:  #494949;
   }
   .top_menu nav span {
    font-family: Gruppo;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
   }
.top_menu nav a svg {
    width: 40px;
    height: 40px;
}
.top_menu nav a {
    text-decoration: none;
    color: #F2F2F2;
}
/* -->Page<--*/
.list  {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    }
.list div {
    box-shadow: 10px 10px 10px  #494949;
    margin-top: 50px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    background:#494949;
    font-size: 22px;
    line-height: 22px;
    font-family: Gruppo;
    color: white;
    text-align: center;
}
.list .piemers {
    animation-name: animation;
    animation-duration: 1s; 
}
.list .piemers2 {
    animation-name: animation;
    animation-duration: 1.50s; 
}
.list .piemers3 {
    animation-name: animation;
    animation-duration: 2s; 
}
.list .piemers4 {
    animation-name: animation;
    animation-duration: 2.5s; 
}
.list .piemers5 {
    animation-name: animation;
    animation-duration: 3s; 
}
.list .piemers6 {
    animation-name: animation;
    animation-duration: 3.50s; 
}
.list .piemers a {
    text-decoration: none;
    color: white;
}
@keyframes animation {
    0% {background-color:  rgb(163, 158, 158);}
    25% {background-color:  #929292;}
    50% {background-color:  #8b8a8a;}
    100% {background-color: #494949;}
}
